* {
    box-sizing: border-box;
}

div {
    display: block;
    padding: 0px;
}

body {
    background-color: rgb(26, 26, 26);
    color: white;
}

.center {
    margin: auto;
    text-align: center;
}

header {
    background-color: rgb(26, 26, 26);
    text-align: center;
    padding: 30px;
    margin-bottom: 10px;
}

li {
    list-style: none;
    background-color: rgb(26, 26, 26);
}

li a {
    color: rgb(0, 200, 10);
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 160px;
    margin-right: 150px;
    margin-top: 10px;
}

a:hover {
    color: rgb(247, 140, 0);
}

#Info {
    margin-top: 70px;
    margin-bottom: 50px;
    align-items: center;
}

.d {
    margin-bottom: 40px;
}

.e {
    padding-right: 40px;
    margin-bottom: 20px;
}

.frase {
    word-wrap: break-word;
    max-width: 450px;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
}

span {
    color: rgb(247, 140, 0);
    font-size: 1.5em;
    font-weight: bold;
}

.perfil img {
    width: 80%;
    border-radius: 30%;
    border: 1px solid rgb(26, 26, 26);
    margin-left: 35px;
}

#Skills {
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
}

#Skills img {
    width: 80px;
    border-radius: 20%;
}

.icons p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 3px;
}

.icons {
    margin-top: 40px;
    margin-bottom: 30px;
}

.Box {
    margin-top: 50px;
    margin-bottom: 65px;
    width: 160px;
    height: 160px;
    background-color: rgb(26, 26, 26);
    box-sizing: border-box;
    text-align: center;
}

.Box img {
    width: 35%;
    border-radius: 25%;
    margin: auto;
}

.Box img:hover {
    width: 55%;
    border-radius: 20%;
    transition: 2s;
}

.Box a {
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(0, 200, 10);
    text-decoration: none;
}

.Box a:hover {
    font-weight: bold;
    color: rgb(247, 140, 0);
    text-decoration: none;
}

.text-box {
    margin-top: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

#Contato {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 10px;
}

#Contato a {
    color: rgb(247, 140, 0);
    text-decoration: none;
}

#Contato a:hover {
    color: rgb(247, 140, 0);
}

.contato {
    display: flex;
    transition: top 0.3s;
    text-align: center;
    overflow: visible;
    width: 100%;
}

/*.w {
    margin-left: 130px;
}*/

.h {
    margin-left: 30px;
}

::-webkit-scrollbar-thumb {
    background-color: black;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    z-index: 1;
    top: 0px;
    width: 100%;
}

.sticky+.content {
    padding-top: 10px;
}

ul {
    margin-block-start: 0px;
}

.az a {
    font-weight: bold;
    color: rgb(0, 200, 10);
    text-decoration: none;
}

.az a:hover {
    font-weight: bold;
    color: rgb(247, 140, 0);
    text-decoration: none;
}

.img {
    margin-top: 100px;
    margin-left: 240px;
}

.img1 {
    margin-top: 100px;
}

.what {
    width: 60px;
    border-radius: 20%;
    margin-top: 30px;
}

.x {
    margin-top: 135px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
}

.z {
    margin-bottom: 20px;
}

.p a {
    font-weight: bold;
    font-size: 1.1em;
    color: rgb(0, 200, 10);
}

.p a:hover {
    font-weight: bold;
    color: rgb(247, 140, 0);
    text-decoration: none;
}

.p p {
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 40px;
    text-align: center;
}

.img2 {
    height: 150px;
    width: 150px;
    margin-left: 20px;
    margin-right: 20px;
}

.y {
    margin-top: 20px;
}

.hover img:hover {
    width: 90px;
    border-radius: 20%;
    transition: 2s;
}

/*    margin-right: 850px;