::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: rgb(26, 26, 26);
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(0, 250, 12);
}