::-webkit-scrollbar {
    width: 12px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: rgb(26, 26, 26);
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background:rgb(0, 200, 10);
}